
body{
    margin: 0;
}

nav{
    display: flex;
    height: 10vh;
    background-color:rgb(157, 157, 177);
    margin: 0;
    width: 100%;
}

nav a{
    text-decoration: none;
    font-size: 20px;
}

nav img{
    width: 10vh;
    height: 10vh;
}
nav .nav-left {
    display: flex;
    flex: 50%;
    margin-left: 100px;
    align-items:center ;
}

nav .nav-left ul{
    display: flex;
    list-style-type: none;
    
}

nav .nav-left ul li {
    margin-right: 20px;
}

nav .nav-left ul li a{
    color: black;
}

nav .nav-right {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
}

nav .nav-right a{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}

.containt{
    /* display: flex; */
}

section{
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    margin: 80px auto;
    background-color: whitesmoke;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* background-color: brown; */
    padding: 20px;
}

.section-left{
    width: 70%;
    /* background-color: aqua; */
}

.section-left p{
    text-align: justify;
}

.section-left .contact{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: black;
    margin-right: 20px;
    padding: 8px 20px;
}

.section-left .cv{
    text-decoration: none;
    color: black;

}

.section-right{
    /* background-color: rgb(124, 153, 42); */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:end;
}

.section-right .card{
    width: 90%;
    /* background-color: blueviolet; */
    border: none;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
}

.section-right img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 1px;
}

.section-right table{
    width: 100%;
    text-align: center;
}

.section-left div{
    margin-top: 50px;
}

.section-left .sosmed i{
    padding: 5px;
    font-size: 30px;
    border-radius: 100%;
    color: white;
    background-color: black;
    margin-right: 10px;
}